* {
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
}

button {
  display: inline-block;
  border: none;
  margin-top: 10px;
  background-color: #3c3c3c;
  color: #fff;
  width: 40px;
  height: 26px;
  border-radius: 13px;
}
.circle {
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  margin-top: 10px;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.black {
  background-color: #000;
  width: 100px;
  height: 100px;
  color: #fff;
}
